<p id="notice"><%= notice %></p>

<p>
  <strong>Lowest time:</strong>
  <%= @score.lowest_time %>
</p>

<p>
  <strong>Player:</strong>
  <%= @score.player %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
